@import url(./vendor/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap');



.page {
    max-width: 1440px;
    background: url(./assets/background-stars.svg), #070724;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Spartan", sans-serif;
    margin: auto;
}


.header {
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 9998;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__menu-btn {
    display: none;
}


.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 41px;
    height: 100%;
}

.header__planet-icon {
    display: none;
}

.header__arrow-icon {
    display: none;
}


.logo-link {
    text-decoration: none;
    margin: 22px auto 27px 32px;
}

.logo {
    margin: 0;
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 28px;
    line-height: 36.23px;
    letter-spacing: -1.05px;
    cursor: pointer;
    transition: opacity 0.4s ease;
}

.logo:hover {
    opacity: 0.7;
}

.header__list {
    list-style: none;
    margin-right: 33px;
    padding: 29px 0;
    height: 100%;
}

.header__list_active_mercury {
    border-top: 4px solid #419EBB; 
    padding-top: 25px;
}

.header__list_active_venus {
    border-top: 4px solid #EDA249; 
    padding-top: 25px;
}

.header__list_active_earth {
    border-top: 4px solid #6D2ED5; 
    padding-top: 25px;
}

.header__list_active_mars {
    border-top: 4px solid #D14C32; 
    padding-top: 25px;
}

.header__list_active_jupiter {
    border-top: 4px solid #D83A34; 
    padding-top: 25px;
}

.header__list_active_saturn{
    border-top: 4px solid #CD5120; 
    padding-top: 25px;
}

.header__list_active_uranus {
    border-top: 4px solid #1EC1A2; 
    padding-top: 25px;
}

.header__list_active_neptune {
    border-top: 4px solid #2D68F0; 
    padding-top: 25px;
}


.header__link {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.4s ease;
}

.header__link:hover {
    opacity: 0.7;
}


.header__list:last-child {
    margin-right: 0;
}


/* Lead */

.lead {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    width: 80%;
    margin: 126px auto 87px auto;
}

.lead__image-group {
    max-width: 667px;
    width: 59%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.lead__image-group_type_mobile {
    display: none;
}

.lead__geology-image {
    width: 163px;
    height: 199px;
    position: absolute;
    bottom: 0;
    display: none;
}

.image-active {
    display: block;
}

.lead__info-group {
    max-width: 350px;
    width: 37.2%;
}

.lead__title {
    font-family: "Antonio", sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 103.52px;
    text-transform: uppercase;
    margin: 0 0 23px 0;
}

.lead__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    margin: 0 0 24px 0;
}

.lead__source {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    opacity: 50%;
    margin: 0 0 39px 0;
}

.lead__source-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    color: white;
}

.lead__button {
    width: 100%;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    color: white;
    display: flex;
    margin-bottom: 16px;
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.lead__button:last-child {
    margin-bottom: 0;
}

.lead__button:hover {
    background-color: #D8D8D8;
}


.lead__button-number {
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    opacity: 50%;
    margin: auto 28px;
}

.lead__button-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.57px;
}



/* Facts */ 

.facts {
    display: flex;
    justify-content: center;
    max-width: 1110px;
    width: 80%;
    margin: auto;
}

.facts__card {
    max-width: 255px;
    width: 22.97%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: 30px;
}

.facts__card:last-child {
    margin-right: 0;
}

.facts__title {
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    opacity: 50%;
    margin: 20px auto 4px 23px;
}

.facts__value {
    font-family: "Antonio", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 51.75px;
    letter-spacing: -1.5px;
    margin: 4px auto 27px 23px;
    text-transform: uppercase;
}

/* Footer */

.footer {
    width: 100%;
    height: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
    margin-top: 75px;
    text-align: center;
}



@media (max-width: 1040px) {

    .header__list {
        margin-right: 20px;
    }

    .menu {
        margin-right: 20px;
    }

    .lead {
        width: 94%;
    }

    .lead__button-text {
        font-size: 10px;
    }

    .lead__image_type_saturn {
        width: 500px;
    }

    .lead__image_type_jupiter {
        width: 450px;
    }

    .facts {
        width: 94%;
    }
    

    .facts__value {
        font-size: 30px;
    }
}


@media (max-width: 768px) {

    .header {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        margin: 0;
    }

    .logo-link {
        margin: 32px auto 39px auto;
    }

    .menu {
        margin-bottom: 27px;
    }

    .lead {
        max-width: 689px;
        width: 90%;
        flex-direction: column;
        align-items: center;
        margin: auto;
        justify-content: flex-end;
    }

    .lead__info-group {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 689px;
        width: 100%;
    }

    .lead__image-group {
        margin: 27px 0 11px 0;
        max-width: 422px;
        width: 100%;
    }

    .lead__geology-image {
        width: 130px;
        height: 158.6px;
    }

    .lead__image_type_mercury {
        max-width: 184px;
        width: 26.7%;
        margin: 146px 0 130px 0;
    }

    .lead__image_type_venus {
        max-width: 253px;
        width: 36.7%;
        margin: 112px 0 95px 0;
    }

    .lead__image_type_earth {
        max-width: 285px;
        width: 41.3%;
        margin: 96px 0 79px 0;
    }

    .lead__image_type_mars {
        max-width: 213px;
        width: 30.9%;
        margin: 132px 0 115px 0;
    }

    .lead__image_type_jupiter {
        max-width: 369px;
        width: 53.6%;
        margin: 54px 0 37px 0;
    }

    .lead__image_type_saturn {
        max-width: 500px;
        width: 73%;
        margin: 27px 0 11px 0;
    }

    .lead__image_type_uranus {
        max-width: 290px;
        width: 42%;
        margin: 93px 0 77px 0;
    }

    .lead__image_type_neptune {
        max-width: 285px;
        width: 41.4%;
        margin: 96px 0 79px 0;
    }

    .lead__info-text {
        max-width: 339px;
        width: 49.2%;
        display: flex;
        flex-direction: column;
    }

    .lead__button-group {
        max-width: 281px;
        width: 40.7%;
    }

    .facts {
        max-width: 689px; 
        width: 90%;
    }

    .facts__card {
        max-width: 164px;
        width: 23.8%;
    }

    .facts__title {
        font-size: 8px;
        line-height: 16px;
        letter-spacing: 0.73px;
        margin: 16px auto 6px 15px;
    }

    .facts__value {
        font-size: 24px;
        line-height: 31.05px;
        letter-spacing: -0.9px;
        margin: 6px auto 19px 15px;
    }

}


@media (max-width: 720px) {
    .lead {
        margin-bottom: 50px;
    }

    .lead__info-group {
        flex-direction: column;
        width: 100%;
    }

    .lead__info-text {
        text-align: center;
        max-width: 398px;
        width: 100%;
    }

    .lead__source {
        margin-bottom: 20px;
    }

    .lead__button-text {
        font-size: 8px;
    }
}


@media (max-width: 605px) {
    .header {
        flex-direction: row;
        position: relative;
    }
    
    .header__menu-icon {
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        align-self: center;
    }
      
    .navicon {
        background: white;
        display: block;
        height: 3px;
        position: relative;
        transition: background .2s ease-out;
        width: 25px;
    }
      
    .navicon:before,
    .navicon:after {
        background: white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
      
    .navicon:before {
        top: 7px;
    }
      
    .navicon:after {
        top: -7px;
    }
      
    .header__menu-btn:checked ~ .header__menu-icon .navicon {
        background: transparent;
    }
      
    .header__menu-btn:checked ~ .header__menu-icon .navicon:before {
        transform: rotate(-45deg);
    }
      
    .header__menu-btn:checked ~ .header__menu-icon .navicon:after {
        transform: rotate(45deg);
    }
      
    .header__menu-btn:checked ~ .header__menu-icon:not(.steps) .navicon:before,
    .header__menu-btn:checked ~ .header__menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

    .menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color:#070724;
        top: 68px;
        width: 100%;
        height: 100vh;
        max-height: 0;
        overflow-y: hidden;
    }

    .header__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        max-width: 605px;
        margin: 0 auto;
        width: 87.2%;
    }

    .header__list_active_mercury {
        border-top: none; 
        padding-top: 0;
    }
    
    .header__list_active_venus {
        border-top: none; 
        padding-top: 0;
    }
    
    .header__list_active_earth {
        border-top: none; 
        padding-top: 0;
    }
    
    .header__list_active_mars {
        border-top: none; 
        padding-top: 0;
    }
    
    .header__list_active_jupiter {
        border-top: none; 
        padding-top: 0;
    }
    
    .header__list_active_saturn{
        border-top: none; 
        padding-top: 0;
    }
    
    .header__list_active_uranus {
        border-top: none; 
        padding-top: 0;
    }
    
    .header__list_active_neptune {
        border-top: none; 
        padding-top: 0;
    }

    .header__list:last-child {
        border-bottom: none;
        margin-left: 24px;
    }

    .header__menu-info-group {
        display: flex;
        align-items: center;;
    }

    .header__link {
        margin-left: 20px;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 1.36px;
    }

    .header__planet-icon {
        display: block;
    }

    .header__arrow-icon {
        display: block;
        margin-right: 8px;
    }

    .logo-link {
        margin: 16px auto 16px 24px;
    }

    .lead {
        width: 100%;
    }

    .lead__button-group {
        max-width: 605px;
        order: -1;
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .lead__button {
        border: none;
        background-color: transparent;
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 9px;
        font-weight: 700;
        line-height: 10.08px;
        letter-spacing: 1.93px;
        height: 0;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-bottom: 0;
    }

    .lead__button:hover {
        background-color: transparent;
    }

    .lead__button-number {
        display: none;
    }

    .lead__button-text {
        opacity: 0;
    }

    .logo-link {
        margin-left: 24px;
    }

    .lead__image-group_type_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 605px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .lead__image-group_type_normal {
        display: none;
    }

    .lead__image_mobile_mercury {
        width: 29.7%;
        max-width: 150px;
        margin: 95px 0;
    }

    .lead__image_mobile_venus {
        width: 41%;
        max-width: 203px;
        margin: 74px 0;
    }

    .lead__image_mobile_earth {
        width: 46%;
        max-width: 229px;
        margin: 64px 0;
    }

    .lead__image_mobile_mars {
        width: 34.4%;
        max-width: 171px;
        margin: 87px 0;
    }

    .lead__image_mobile_jupiter {
        width: 59.73%;
        max-width: 296px;
        margin: 40px 0;
    }

    .lead__image_mobile_saturn {
        width: 68.2%;
        max-width: 378px;
        margin: 24px 0;
    }

    .lead__image_mobile_uranus{
        width: 46.9%;
        max-width: 233px;
        margin: 64px 0;
    }

    .lead__image_mobile_neptune {
        width: 46.1%;
        max-width: 229px;
        margin: 64px 0;
    }

    .lead__geology-image {
        width: 100px;
        height: 122px;
    }

    .lead__geology-image_saturn {
        bottom: 0;
    }


    .lead__title {
        font-size: 40px;
        line-height: 51.76px;
        margin: auto;
        margin-bottom: 16px;
    }

    .lead__info-text {
        max-width: 327px;
        width: 87.2%;
    }

    .lead__description {
        font-size: 11px;
        line-height: 22px;
        text-align: center;
    }

    .lead__source {
        text-align: center;
        font-size: 12px;
    }

    .lead__source-link {
        font-size: 12px;
    }

    .facts {
        flex-direction: column;
        max-width: 327px;
        width: 87.2%;
    }

    .facts__card {
        max-width: 327px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 8px;
    }

    .facts__title {
        font-size: 8px;
        line-height: 16px;
        letter-spacing: 0.73px;
        margin: 16px auto 16px 24px;
    }

    .facts__value {
        font-size: 20px;
        line-height: 25.88px;
        letter-spacing: -0.75px;
        margin: 11px 24px 11px auto;
    }

    .footer {
        font-size: 8px;
    }

    .menu-active {
        transition: 1s;
        max-height: 100vh;
    }
    .menu-inactive {
        transition: 0.7s;
        max-height: 0vh;
    }
}


@media (max-width: 375px) {
    .lead__image_mobile_mercury {
        width: 29.7%;
        max-width: 111px;
        margin: 95px 0;
    }

    .lead__image_mobile_venus {
        width: 41%;
        max-width: 154px;
        margin: 74px 0;
    }

    .lead__image_mobile_earth {
        width: 46%;
        max-width: 173px;
        margin: 64px 0;
    }

    .lead__image_mobile_mars {
        width: 34.4%;
        max-width: 129px;
        margin: 87px 0;
    }

    .lead__image_mobile_jupiter {
        width: 59.73%;
        max-width: 224px;
        margin: 40px 0;
    }

    .lead__image_mobile_saturn {
        width: 68.2%;
        max-width: 256px;
        margin: 24px 0;
    }

    .lead__image_mobile_uranus{
        width: 46.9%;
        max-width: 176px;
        margin: 64px 0;
    }

    .lead__image_mobile_neptune {
        width: 46.1%;
        max-width: 173px;
        margin: 64px 0;
    }
}
    